In [1]:
import glob

docs = []
for file in glob.glob("input/*.txt"):
    with open(file) as f:
        text = f.read()
        sections = text.split("\n\n")
        for section in sections:
            section = section.strip()
            if section:
                docs.append(section)

In [2]:
from narrativegraph import NarrativeGraph
from narrativegraph.nlp.extraction.spacy import NaiveSpacyTripletExtractor

model = NarrativeGraph(
    triplet_extractor=NaiveSpacyTripletExtractor(
        named_entities=(1,None),
        noun_chunks=(3,None),
    ),
    sqlite_db_path="lotr.sqlite",
    on_existing_db="overwrite"
).fit(docs)

INFO:narrativegraph.pipeline:Adding 831 documents to database
INFO:narrativegraph.pipeline:Extracting triplets
Extracting triplets: 100%|██████████| 831/831 [01:19<00:00, 10.42it/s]
INFO:narrativegraph.pipeline:Mapping entities and predicates
INFO:narrativegraph.pipeline:Mapping triplets

In [3]:
model.entities_

,id,label,frequency,doc_frequency,adjusted_tf_idf,alt_labels
0,1,a bony fleshless knot,1,1,0.0,"[""a bony fleshless knot""]"
1,2,long and skilful fingers,1,1,0.0,"[""long and skilful fingers""]"
2,3,the new-risen sun,1,1,0.0,"[""the new-risen sun""]"
3,4,zig-zags,1,1,0.0,"[""zig-zags""]"
4,5,the other lords,1,1,0.0,"[""the other lords""]"
...,...,...,...,...,...,...
7340,7341,the complete surprise,1,1,0.0,"[""the complete surprise""]"
7341,7342,his beaming face,1,1,0.0,"[""his beaming face""]"
7342,7343,"Gandalf, Elrond",2,2,277.0,"[""Gandalf, Elrond""]"
7343,7344,a mortal man,2,1,415.5,"[""a mortal man""]"
7344,7345,the same instant,1,1,0.0,"[""the same instant""]"

In [5]:
# create server to be viewed in own browser which blocks execution of other cells
model.serve_visualizer()

INFO:     Started server process [89717]
INFO:     Waiting for application startup.
INFO:root:Database engine provided to state before startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8001 (Press CTRL+C to quit)

INFO:     127.0.0.1:49334 - "GET / HTTP/1.1" 307 Temporary Redirect
INFO:     127.0.0.1:49334 - "GET /vis HTTP/1.1" 307 Temporary Redirect
INFO:     127.0.0.1:49337 - "GET /graph/bounds HTTP/1.1" 200 OK
INFO:     127.0.0.1:49337 - "OPTIONS /graph HTTP/1.1" 200 OK
INFO:     127.0.0.1:49337 - "POST /graph HTTP/1.1" 307 Temporary Redirect
INFO:     127.0.0.1:49337 - "OPTIONS /graph/ HTTP/1.1" 200 OK
INFO:     127.0.0.1:49337 - "POST /graph/ HTTP/1.1" 200 OK
INFO:     127.0.0.1:49337 - "GET /entities/5681 HTTP/1.1" 200 OK
INFO:     127.0.0.1:49337 - "GET /entities/5681/docs HTTP/1.1" 200 OK
INFO:     127.0.0.1:49344 - "GET /entities/4149 HTTP/1.1" 200 OK
INFO:     127.0.0.1:49344 - "POST /graph HTTP/1.1" 307 Temporary Redirect
INFO:     127.0.0.1:49344 - "POST /graph/ HTTP/1.1" 200 OK
INFO:     127.0.0.1:49344 - "OPTIONS /graph/communities HTTP/1.1" 200 OK
INFO:     127.0.0.1:49344 - "POST /graph/communities HTTP/1.1" 200 OK
INFO:     127.0.0.1:49344 - "POST /graph HTTP/1.1" 307 Temporary Redirect
INFO:     127.0.0.1:49344 - "POST /graph/ HTTP/1.1" 200 OK

INFO:     Shutting down
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:     Finished server process [89717]
INFO:root:Server stopped by user